.theme-dark .graph-view.color-fill-attachment {
color: #2e2861;
}
.theme-dark .graph-view.color-arrow {
color: #6900e6;
}
.graph-view.color-text {
color: #4800a6;
}
.graph-view.color-line {
color: #6900e6;
}
